{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-flow-strip-types",
    "transform-class-properties",
    ["styled-components", {
      "displayName": false
    }]
  ],
  "ignore": [
    "*.test.js"
  ]
}
