{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "selector-type-no-unknown": null,
    "selector-type-case": null,
    "value-list-max-empty-lines": null,
    "declaration-colon-newline-after": null,
    "rule-empty-line-before": null
  }
}
