{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "selector-type-no-unknown": null,
    "rule-empty-line-before": null,
    "selector-type-case": null
  }
}
